@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	background-color: #D2D3CE;
}

h1 {
	text-align: center;
	font-family: 'Monaco', monospace;		
	font-size: 42px;
	color: yellow;
}

h2 {
	font-size: 24px;
	text-align: center;
	font-family: 'Monaco', monospace;
	color: gold;
}

a {
	font-size: 18px;
	font-family: 'Monaco', monospace;
	text-align: center;
	display: block;
	color: black;
}

p {
	font-size: 16px;
	text-align: center;
	font-family: 'Monaco', monospace;
	color: #0B1B0B;
}

.image {
	text-align: center;
}

.image2 {
	text-align: center;
	margin-left: 0px;
}

.flowerP {
	margin-left: 20px;
}

#theGrid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: min-content 1fr min-content;
}

header {
    background-color: darkolivegreen;
	grid-row: 1;
    grid-column: 1 / 4;
	border: 1px solid;
    align-self: center;
    text-align: center;
}

nav {
    background-color: #A7AFA0;
	grid-row: 2;
    grid-column: 1 / 2;
    border: 1px solid;
}

main {
    background-color: #A7AFA0;
	grid-row: 2;
    grid-column: 2 / 3;
    border: 1px solid;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

}

aside {
    background-color: #A7AFA0;
	grid-row: 2;
    grid-column: 3 / 4;
    border: 1px solid;
}

footer {
    background-color: darkolivegreen;
	grid-row: 3;
    grid-column: 1 / 4;
    border: 1px solid;
}