@charset "UTF-8";

body {
    background-color: pink;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.greenDiv {
    background-color: aquamarine;
}

/*reduce screen size to see the change */
 @media (max-width: 600px) {
    body {background-color: lightblue;}
    img {display: none;}
    .greenDiv {display: none;} 
}

.mainDiv {
    width: 50%; /* make space in order to center element */
    margin-left: auto; /* distribute space evenly */
    margin-right: auto; /* distribute space evenly */
    background-color: antiquewhite;
    border-style: dotted;
    border-width: 10px;
}

.normalImages {
        border-style: dashed;
        border-width: 2px;
        border-radius: 25px;
}

#gif {
    border-radius: 75px
}

video {
    width: 100%;
}