@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
	margin: 0px;
}

#mobileNav {
	display: none;
}

img {
	width: 50%;
	margin: auto;
	display: block;
}

video {
	width: 70%;
}
	
.alert {
	display: none;
}

a {
	font-size: 22px;
	font-family: 'Monaco', monospace;
	text-align: center;
	display: block;
}
	
p {
	font-size: 22px;
	text-align: center;
	font-family: 'Monaco', monospace;
	color: black;
}
	
h1 {
	text-align: center;
	font-family: 'Monaco', monospace;		
	font-size: 42px;
	color: black;
}
	
h2 {
	font-size: 30px;
	text-align: center;
	font-family: 'Monaco', monospace;
	color: black;
}

#mainDiv {
	width: 75%;
	margin: auto;
	background-color: white;
	border-style: solid;
	border-width: 10px;
	border-color: white;
}

div.center {
	text-align:center;
}

.textRED {
	position: relative;
	top: 0px;
	left: -320px;
}

.textBLUE {
	position: absolute;
	top: 530px;
	left: 650px;
}

.textGREEN {
	position: absolute;
	top: 530px;
	left: 980px;
}

.torchic {
	position: relative;
	top: 0px;
	left: -100px;
	width: 60%;
}

.froakie {
	position: absolute;
	top: 240px;
	left: 450px;
}

.rowlet {
	position: absolute;
	top: 240px;
	left: 800px;
}

.float {
	position: relative;
	top: 0px;
	left: 0px;
	animation-name: float;
	animation-duration: 12s;
	animation-iteration-count: infinite;
}

@keyframes float {
	0% {bottom: 0px; top: 0px;}
    25% {bottom: 0px; top: 10px;}
    50% {bottom: 0px; top: 0px;}
    75% {bottom: 0px; top: 10px;}
    100% {bottom: 0px; top: 0px;}
}

@media only screen and (max-width: 768px) {
	#mobileNav 
	{display: block;}
	img
	{width: 70%;}
	.text {display: none;}
	body
	{background-color: lightsteelblue;}
}
	
.mobileNavBar {
	background-color: darkslateblue;
	position: relative;
	border: 0px solid;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

#siteName {
	font-family: 'Monaco', monospace;
	align-self: center;
	font-size: 1rem;
	color: whitesmoke;
}

#hamburgerDiv {
        /*background-color: aqua;
        height: 75%;
        font-size: 32px;
        border: 1px solid;*/
	align-self: center;                
}

#hamburgerBtn {
        background-color: white;
        font-size: 32px;
        border: 1px solid;
        border-radius: 4px;
        cursor: pointer;
}

#theLinks {
        background-color: whitesmoke;
        display: none;
        text-align: center;
}

#theLinks a {
        display: block;
        text-decoration: none;
}